@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{Layout = "~/Views/Shared/AdminPanel.cshtml";}


@{
    ViewData["Title"] = "Check Subjective Exam";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/js/jquery-ui.min.css" rel="stylesheet" />
@*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@

@*<script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>*@
<script src="~/js/ExamJS/SubjectiveAnsCheck.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/ExamJS/json2.min.js"></script>
<style>
    #tblquestions tr:hover {
        background-color: antiquewhite;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <form id="selectyearprogram">
                    <div class="content">
                        <p>
                            <select id="StudentYear" class="form-control" name="Year">
                                <option value="0">Select Year</option>
                                <option value="1">1st Year</option>
                                <option value="2">2nd Year</option>
                                <option value="3">3rd Year</option>


                            </select>
                            <span id="validexamyear" style="color:red"></span>

                        </p>
                        <p>
                            <div class="form-group">
                                <select id="Programme" class="form-control" name="Programme">
                                    <option>Select Programme</option>
                                    <option value="BSC Computing">BSC Computing</option>
                                    <option value="BSC Networking">BSC Networking</option>
                                    <option value="BSC Multimedia">BSC Multimedia</option>
                                </select>
                                <span id="validprogramme" style="color:red"></span>
                            </div>
                        </p>
                        <p>
                            <div class="form-group">
                                <button id="btngetsubexams" class="btn btn-info btn-fill" type="button">Get Exams</button>
                            </div>
                        </p>
                    </div>
                    <div class="content" id="examlistdiv" style="display:none">
                        <div class="form-group">
                            <label class="control-label">Subjective Exams:</label>
                            <div id="examlist" class="span6">

                            </div>

                        </div>

                    </div>
                    <div class="content" id="studentlistdiv" style="display:none">
                        <div class="form-group">
                            <label class="control-label">Student Name:</label>
                            <span id="spanexamid" hidden></span>
                            <div id="studentlist" class="span6">

                            </div>

                        </div>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

                @using (Html.BeginForm())
                {
                    <div class="container-fluid" id="gobackdiv">
                        <div>
                            <button type="button" id="btngoback" class="btn btn-primary">Back to Exam List</button>
                        </div>
                    </div>

                    <div>
                        <span id="spanexamid" hidden></span>
                    </div>
                    <div>
                        <span id="spanuserid" hidden></span>
                    </div>
                    <div style="padding-top:10px;padding-left:250px" class="col-lg-9" id="subanswerdiv">

                    </div>
                }
                <script>
                    $(function () {
                        $(this).feedback({

                            SucessMsg: '',
                            ServiceRootPath: 'http://localhost:49613/'


                        });
                    });
                </script>
