@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{Layout = "~/Views/Shared/UserPanel.cshtml";}


@{
    ViewData["Title"] = "Notice";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


@*<script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>*@
<script src="~/js/ExamJS/Notice.js"></script>
<script src="~/js/ExamJS/json2.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="content">
                    <div id="main_container" class="span12">

                        <div id="NoticeBoard" class="span6">
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>







<script>
    $(function () {
        $(this).feedback({

            SucessMsg: '',
            ServiceRootPath: 'http://localhost:49613/'


        });
    });
</script>
