@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{Layout = "~/Views/Shared/AdminPanel.cshtml";}

@{
    ViewData["Title"] = "Subject";
}


@*<link href="~/css/bootstrap.css" rel="stylesheet" />*@
<link href="~/js/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/js/jquery-ui.min.css" rel="stylesheet" />
@*<script src="~/js/jquery-3.1.1.min.js"></script>*@
<script src="~/js/DataTable/jquery.dataTables.min.js"></script>
<script src="~/js/ExamJS/PublishResult.js"></script>
@*<script src="~/js/bootstrap-datepicker.js"></script>*@
<script src="~/js/jquery-ui.min.js"></script>
@*<script src="~/js/bootstrap.js"></script>*@
<script src="~/js/ExamJS/json2.min.js"></script>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <h2 align="center">Publish Objective Result</h2>

                <table id="tblFinishedExamList" class="table-striped">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>Exam</th>
                            <th>Year</th>
                            <th>Programme</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $(this).feedback({

            SucessMsg: '',
            ServiceRootPath: 'http://localhost:49613/'


        });
    });
</script>
