@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative One Page Parallax Template">
    <meta name="keywords" content="Creative, Onepage, Parallax, HTML5, Bootstrap, Popular, custom, personal, portfolio" />
    <meta name="author" content="">
    <title>Online Examination and Assessment System- Islington College</title>
    <link href="Assest/css/bootstrap.min.css" rel="stylesheet">
    <link href="Assest/css/prettyPhoto.css" rel="stylesheet">
    <link href="Assest/css/font-awesome.min.css" rel="stylesheet">
    <link href="Assest/css/animate.css" rel="stylesheet">
    <link href="Assest/css/main.css" rel="stylesheet">
    <link href="Assest/tcss/responsive.css" rel="stylesheet">
    <link href="Assest/css/registration.css" rel="stylesheet">
    <link href="Assest/css/LOGIN.css" rel="stylesheet">

    <!--[if lt IE 9]> <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script> <![endif]-->
    <link rel="shortcut icon" href="Assest/images/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Assest/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Assest/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Assest/timages/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="Assest/images/ico/apple-touch-icon-57-precomposed.png">


</head><!--/head-->
<body>
    <div class="preloader">
        <div class="preloder-wrap">
            <div class="preloder-inner">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div><!--/.preloader-->
    <header id="navigation">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/User/Index"><h1> <img src="~/images/logo.PNG" height="50", width="70"/></h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#navigation">Home</a></li>
                        <li class="scroll"><a href="#about-us">About Us</a></li>
                        <li class="scroll"><a href="#services">Courses</a></li>

                        <li class="scroll"><a href="~/User/UserRegistration">Register</a></li>
                        <li class="scroll"><a href="~/User/Login">Login</a></li>
                        <li class="scroll"><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/navbar-->
    </header> <!--/#navigation-->

    <section id="home">
        <div class="home-pattern"></div>
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
            </ol><!--/.carousel-indicators-->
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(Assest/images/slider/image2.jpg)">
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated bounceInDown">Online Examination and Assessment System</h2>
                            <p class="animated bounceInUp">Fully Professional one page template</p>
                            <a class="btn btn-default slider-btn animated fadeIn" href="~/User/Login">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url(Assest/images/slider/slide_2.jpg)">
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated bounceInDown">Best Solution for Examination and Assessment</h2>
                            <p class="animated bounceInUp">Easy to Conduct </p> <a class="btn btn-default slider-btn animated fadeIn" href="~/User/Login">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url(Assest/images/slider/slide_3.jpg)">
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated bounceInRight">Save paper, Save Tree, Go Green</h2>
                            <p class="animated bounceInLeft">Web based Examination</p>
                            <a class="btn btn-default slider-btn animated bounceInUp" href="~/User/Login">Get Started</a>
                        </div>
                    </div>
                </div>
            </div><!--/.carousel-inner-->

            <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>

    </section><!--/#home-->

    <section id="about-us">
        <div class="container">
            <div class="text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one">Why With Us?</h2>
                    <p>
                        Islington College is an autonomous private education institution dedicated to excellent academic performance and student experience.<br>
                        We boast on the diversity of expertise we have as faculties, who have hands-on experience as well as degrees from prestigious universities abroad.
                    </p>
                </div>
            </div>
            <div class="about-us">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Affiliation</h3>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> About</a></li>

                            <li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Affiliation</a></li>
                            <li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Community</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="about">
                                <div class="media">
                                    <img class="pull-left media-object" src="Assest/images/logo.png" alt="about us">
                                    <div class="media-body">
                                        <p>Islington College is an autonomous private education institution dedicated to excellent academic performance and student experience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="mission">
                                <div class="media">
                                    <img class="pull-left media-object" src="Assest/images/lmulogo.png" alt="Affiliation">
                                    <div class="media-body">
                                        <p>The College is directly partner with London Metropolitan University (LondonMet).London Metropolitan University (London Met) is one of London's oldest institutions with roots going all the way back to 1848. The University is a diverse and vibrant place of learning located at the heart of one of the most exciting cities in the world.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="community">
                                <div class="media">
                                    <img class="pull-left media-object" src="Assest/images/logonorth.png" alt="Community">
                                    <div class="media-body">
                                        <p>The College also has a direct articulation agreement with the University of Northampton such that students who study various programmes in the College may proceed to Northampton for the final-year of their BSc. (Hons) Computing programme.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Choose Campus</h3>
                        <div class="jumbotron">
                            <p>"Students may choose to study at both Kathmandu Campus and LondonMet's North London Campus"</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section><!--/#about-us-->

    <section id="services" class="parallax-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one">Courses</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="our-service">
                        <div class="services row">
                            <div class="col-sm-4">
                                <div class="single-service">
                                    <i class="fa fa-th"></i>
                                    <h2>Bachelor Degree in Computing</h2>
                                    <p>The course is designed for those students who wish to specialise in the development and maintenance of modern computer-based systems. There are four areas that characterise the course. These are: Software development, Information systems, Networks and distributed systems, and Internet Computing Systems.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-service">
                                    <i class="fa fa-html5"></i>
                                    <h2>Bachelor Degree in Computer Networking and Security</h2>
                                    <p>The course aims to provide students with expertise in the field of computer networks and IT security. It emphasises all aspects of computer networking and IT security, whether wired or wireless, and it is strongly supported by an embedded vocational curriculum (Cisco CCNA) which greatly enhances the employability of our students. </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-service">
                                    <i class="fa fa-users"></i>
                                    <h2>Bachelor Degree in Multimedia Technologies</h2>
                                    <p>Multimedia unites digital culture, media and computer technology with networks and creativity, allowing for new ways of expression, production, exchange and leisure to emerge. Various industries have seen a rapid transformation over the past two decades leading to the appearance of multimedia professionals ranging from web designer to game developer, and from film maker to PR manager.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section><!--/#service-->


    <section id="contact">
        <div class="container">
            <div class="row text-center clearfix">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="contact-heading">
                        <h2 class="title-one">Contact With Us</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact-details">
                <div class="pattern"></div>
                <div class="row text-center clearfix">
                    <div class="col-sm-6">
                        <div class="contact-address">
                            <address><p><span>Islington</span>College</p><strong>Kamalpokhari<br>Kathmandu<br> Nepal</strong><br><small>Email: info@islington.edu.np</small></address>
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="contact-form-section">
                            <div class="status alert alert-success" style="display: none"></div>
                            <form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p>Copyright &copy; 2017 - <a href="http:///">Bina</a> | All Rights Reserved</p>
            </div>
        </div>
    </footer> <!--/#footer-->

    <script type="text/javascript" src="Assest/js/jquery.js"></script>
    <script type="text/javascript" src="Assest/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="Assest/js/smoothscroll.js"></script>
    <script type="text/javascript" src="Assest/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="Assest/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="Assest/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="Assest/js/main.js"></script>

    <script type="text/javascript">
        function gotologin() {
            document.getElementById('login').scrollIntoview();

        }
    </script>
</body>
</html>