@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ Layout = "~/Views/Shared/UserPanel.cshtml";}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="content">
                <h3>Objective Exam</h3>
                <img style="width:300px;height:300px;" src="~/images/Exam2.jpg" />
                <p align="center">
                    <a href="~/Exam/DisplayObjExam"><button type="button" id="btnObjectiveExam" class="btn btn-info btn-fill">Get Started</button></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="content">
                <h3>Subjective Exam</h3>
                <img style="width:300px;height:300px;" src="~/images/Exam1.jpg" />
                <p align="center">
                    <a href="~/Exam/MockTest"><button type="button" id="btnSubjectiveExam" class="btn btn-info btn-fill">Get Started</button></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="content">
                <h3>Mock Test</h3>
                <img style="width:300px;height:300px;" src="~/images/Exam3.jpg" />
                <p align="center">
                    <a href="~/Exam/MockTest"> <button type="button" id="btnMockTest" class="btn btn-info btn-fill">Get Started</button></a>
                </p>
            </div>
        </div>
    </div>
</div>
